#designed-for-developers {
  background: url(../images/developer-clip.svg),
    linear-gradient(2deg, #ffffff 0%, #ffeac966 100%);
  background-position: 70px bottom, center bottom;
  background-repeat: no-repeat, no-repeat;
}

.action {
  border: 2px solid #f83649;
  border-radius: 4px;
  background-color: transparent;
  color: #f83649;
  font-size: 18px;
  margin: 0 5px;
  display: flex;
  align-items: center;
}

.action i {
  margin-right: 5px;
}

@media only screen and (max-width: 600px) {
  #why-maze .section-wrapper {
    margin-top: 30px;
  }

  .section-title {
    padding-bottom: 10px;
    text-align: center;
  }

  .content {
    padding: 15px;
  }

  #designed-for-developers {
    background: linear-gradient(2deg, #ffffff 0%, #ffeac966 100%);
  }

  .action {
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 800px) and (orientation: landscape) {
  #why-maze .section-wrapper {
    margin-top: 30px;
  }

  .section-title {
    padding-bottom: 10px;
    text-align: center;
  }

  .content {
    padding: 15px;
  }

  #designed-for-developers {
    background: linear-gradient(2deg, #ffffff 0%, #ffeac966 100%);
  }

  .action {
    margin: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
  }
}
