#maze_header {
  z-index: 1000;
  transition: all 0.5s;
  padding-top: 40px;
  padding-bottom: 20px;
}

#maze_header #maze_logo {
  width: 200px;
}

#maze_header .nav-menu,
#maze_header .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

#maze_header .nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

#maze_header .nav-menu > ul > li#maze_try_now > a {
  background: transparent linear-gradient(59deg, #f86b80 0%, #f80517 100%) 0% 0%
    no-repeat padding-box;
  color: #fff;
  border-radius: 4px;
  margin: 0 0 0 30px;
  padding: 10px 25px;
  width: 130px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

#maze_header .nav-menu a {
  display: block;
  position: relative;
  color: #555555;
  padding: 10px 0 10px 25px;
  transition: 0.3s;
  font-size: 14px;
}

/* Active Option */
#maze_header .nav-menu a:hover,
#maze_header .nav-menu .active > a,
#maze_header .nav-menu li:hover > a {
  color: var(--active-font-color);
  text-decoration: none;
}

/* Scrolled header CSS */
#maze_header.scrolled {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  /* padding: 40px 0; */
  background: #fff;
}

#menu-links.hide {
  display: none;
}

@media (max-width: 800px) and (orientation: landscape) {
  #maze_header {
    padding-top: 20px;
  }

  #maze_header #maze_logo {
    width: 120px;
  }

  #menu-icon {
    border: none;
    background-color: transparent;
    padding: 10px;
    font-size: 20px;
  }

  #menu-links {
    display: flex;
    flex-direction: column;
    padding: 0px 35px;
    top: 100%;
    width: 100%;
    position: absolute;
    background-color: #000000ed;
    overflow: auto;
    max-height: calc(100vh - 93px);
  }

  #menu-links a {
    padding: 20px;
    color: #fff;
    font-weight: bold;
  }
}

@media only screen and (max-width: 600px) {
  #maze_header {
    padding-top: 20px;
  }

  #maze_header #maze_logo {
    width: 120px;
  }

  #menu-icon {
    border: none;
    background-color: transparent;
    padding: 10px;
    font-size: 20px;
  }

  #menu-links {
    display: flex;
    flex-direction: column;
    padding: 0px 35px;
    top: 100%;
    width: 100%;
    position: absolute;
    background-color: #000000ed;
    padding-bottom: 20px;
  }

  #menu-links a {
    padding: 20px;
    color: #fff;
    font-weight: bold;
  }

  #menu-links a.maze-try-now {
    background: transparent linear-gradient(59deg, #f86b80 0%, #f80517 100%) 0%
      0% no-repeat padding-box;
    color: #fff;
    border-radius: 8px;
    width: 80%;
    margin-bottom: 20px;
    text-align: center;
    margin: auto;
    padding: 15px;
  }
}
